* {
    box-sizing: border-box;
}

fieldset { 
    border: none;
}
body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 1.5;
}

.font {
    color: rgb(123, 125, 128);
}
h1,
h2,
h3,
p {
    margin: 0;

}

.paper,
.banner,
form,
.signup,
.end {
    display: flex;
    flex-direction: column;
}

.f1,
.f2 {
    padding-left: 0;
    padding-right: 0;
}
/* Header */


.paper {
    background: rgb(49, 55, 66);
    color: #ffffff;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;

}

/* Banner */

.ci {
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 1.34em;
    font-weight: 600;
}

.banner {
    text-align: center;
    width: 90%;
    margin: 0 auto;
    border-bottom: 5px solid rgb(0, 0, 0);
}

.banner h2{
    margin: 30px 0 10px;
}

.banner p {
    margin-bottom: 30px;
}

/* body */

form {
    border-top: 2px solid rgb(0, 0, 0);
    width: 90%;
    margin: 4px auto 15px;
}

input:placeholder-shown {
    text-align: right;
    padding-right: 15px;
}

/* Contact */

.f1 {
    border-bottom: 2px solid rgb(0, 0, 0);
}

.f1 input,
.f1 select {
    width: 100%;
    height: 3em;
    background: rgb(223, 223, 223);
    border: none;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 25px;
}

.pc {
    width: 50%;
}
/* news letter format */

.f2 legend {
    padding: 15px 0 0;
    font-size: 1.34em;
    font-weight: 600;
}

.f2 input,
.f2 label,
.f2 legend {
    display:inline-block;
    padding-bottom: 10px;
    
}

.title1 h3,
.f2 h3 {
    font-size: 1.25em;
    padding: 15px 0 15px;
    font-weight: 400;
}


.tell {
    padding-top: 15px;
    padding-bottom: 10px;
    display: block;
}

textarea {
    width: 100%;
    height: 100px;
    background:  rgb(223, 223, 223);
    border: none;
    border-radius: 5px;
}
textarea:placeholder-shown {
    padding: 15px 0 0 15px;
}

button {
    width: 90%;
    padding: 10px 0;
    margin: 0 auto;
    background: rgb(43, 202, 176);
    color: #ffffff;
    font-size: 2em;
    border-radius: 5px;
    border: none;
    
}

.end {
    text-align: center;
}

/* ---------------------
   Media queries @768 
   --------------------*/

@media (min-width: 768px) {

    /* body {
        background: rgb(0, 255, 0);
    } */

    input:focus {
        background-color: rgb(0, 0, 0);
        color: #fff;
    }
    .banner {
        width: 50%;
    }
    form {
        max-width: 50%;
        background: rgb(247, 247, 247);
    }

    .f1 label,
    .f1 input
    .f1 select {
        display: inline-block;
    }

    .f1 label {
        width: 25%;
    }
    .f1 input,
    .f1 select {
        width: 74%;
    }

    button {
        width: 50%;
    }
}